
nav.mt-2
  ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
    li.nav-item
      a.nav-link(href='/admin')
        i.nav-icon.fas.fa-home
        p Dashboard
    li.nav-item
      a.nav-link(href='#')
        i.nav-icon.fas.fa-cubes
        p Data Barang
          i.fas.fa-angle-left.right
      ul.nav.nav-treeview
        li.nav-item
          a.nav-link(href='/admin/barang-masuk')
            i.nav-icon.far.fa-circle
            p Barang Masuk
        li.nav-item
          a.nav-link(href='/admin/barang-keluar')
            i.nav-icon.far.fa-circle
            p Barang Keluar
    li.nav-header MASTER DATA
    li.nav-item
      a.nav-link(href='/admin/user')
        i.nav-icon.fas.fa-user
        p User
    li.nav-item
      a.nav-link(href='/admin/karyawan')
        i.nav-icon.fas.fa-user
        p Karyawan
    li.nav-item
      a.nav-link(href='/admin/departemen')
        i.nav-icon.fas.fa-warehouse
        p Departemen
    li.nav-item
      a.nav-link(href='/admin/area')
        i.nav-icon.fas.fa-building
        p Area
    li.nav-item
      a.nav-link(href='/admin/spesifikasi')
        i.nav-icon.fas.fa-file-alt
        p Spesifikasi
    li.nav-item
      a.nav-link(href='/admin/jenis-barang')
        i.nav-icon.fas.fa-file-alt
        p Jenis Barang
    li.nav-item
      a.nav-link(href='/admin/barang')
        i.nav-icon.fas.fa-cube
        p Barang
    li.nav-header LAPORAN
    li.nav-item
      a.nav-link(href='/admin/laporan/barang-masuk')
        i.nav-icon.fas.fa-cubes
        p Barang Masuk
    li.nav-item
      a.nav-link(href='/admin/laporan/barang-keluar')
        i.nav-icon.fas.fa-cubes
        p Barang Keluar
    li.nav-header PENGATURAN
    li.nav-item
      a.nav-link(href='/admin/ubah-password')
        i.nav-icon.fas.fa-lock
        p Ubah Password
        span.right.badge.badge-danger
    li.nav-item
      a.nav-link(href='/admin/logout' onclick="return confirm('Yakin ingin keluar dari akun anda ?')")
        i.nav-icon.fas.fa-sign-out-alt
        p Logout
        span.right.badge.badge-danger