extends ../../layout

block content
  .content-wrapper
    //- Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Ubah Password
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Ubah Password
      //- /.container-fluid
      //- Main content
      section.content
        //- Default box
        .card
          .card-header
            h3.card-title Ubah Password
          .card-body
            .form-group
              label Password Lama
              input.form-control#password_lama(type="password" autocomplete="off")
            .form-group
              label Password Baru
              input.form-control#password(type="password" autocomplete="off")
            .form-group
              label Konfirmasi Password
              input.form-control#konfirmasi_password(type="password" autocomplete="off")
            .form-group
              button.btn.btn-sm.btn-default.mr-2(onclick="return window.history.go(-1)") Kembali
              button.btn.btn-sm.btn-primary(onclick="simpan()") Simpan

block script
  script.
    function simpan() {
      var password_lama = $('#password_lama').val()
      var password = $('#password').val()
      var konfirmasi_password = $('#konfirmasi_password').val()
      var body = {
        password_lama: password_lama,
        password: password,
      }

      if(konfirmasi_password != password) {
        alert('Konfirmasi Password tidak sama')
        return
      }

      post({
        url: '/admin/ubah-password/perbarui',
        data: body,
        isLoading: true
      }, function(response) {
        console.log(response)
        loading(false)
        alert(response.message)

        if(response.status) {
          document.location = '/admin/ubah-password'
        }
      })
    }