extends ../../layout

block content
  .content-wrapper
    //- Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Tambah Data
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='#') Data Karyawan
              li.breadcrumb-item.active Tambah
      //- /.container-fluid
      //- Main content
      section.content
        //- Default box
        .card
          .card-header
            h3.card-title Tambah
          .card-body
            .form-group
              label NPP
              input.form-control#npp(type="text" autocomplete="off")
            .form-group
              label Nama
              input.form-control#nama(type="text" autocomplete="off")
            .form-group
              label Departemen
              select.form-control#id_departemen
                each departemen in dataDepartemen
                  option(value=departemen.id_departemen) #{departemen.nama_departemen}
            .form-group
              label Alamat
              textarea.form-control#alamat(type="text" autocomplete="off" row="3")
            .form-group
              label No. Telepon
              input.form-control#no_telp(type="text" autocomplete="off" onkeyup="return event.charCode >= 48 && event.charCode <= 57")
            .form-group
              button.btn.btn-sm.btn-default.mr-2(onclick="return window.history.go(-1)") Kembali
              button.btn.btn-sm.btn-primary(onclick="simpan()") Simpan

block script
  script.
    function simpan() {
      var npp = $('#npp').val()
      var nama = $('#nama').val()
      var alamat = $('#alamat').val()
      var no_telp = $('#no_telp').val()
      var id_departemen = $('#id_departemen').find('option:selected').val()
      var body = {
        npp: npp,
        nama: nama,
        alamat: alamat,
        no_telp: no_telp,
        id_departemen: id_departemen
      }

      if(isEmpty(nama)) {
        alert('Data belum lengkap')
        return
      }

      post({
        url: '/admin/karyawan/simpan',
        data: body,
        isLoading: true
      }, function(response) {
        console.log(response)
        loading(false)
        alert(response.message)

        if(response.status) {
          document.location = '/admin/karyawan'
        }
      })
    }