extends ../../layout

block content
  .content-wrapper
    //- Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Data Stock Opname
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Data Stock Opname
      //- /.container-fluid
      //- Main content
      section.content
        //- Default box
        .card
          .card-header
            h3.card-title Data Stock Opname
            .card-tools
              a.btn.btn-tool(href='/warehouse/stock-opname/tambah' data-toggle="tooltip" title='Tambah' onclick="")
                i.fas.fa-plus
          .card-body
            table.table.table-hover.table-bordered.table-stripped.datatable
              thead
                tr
                  th(width="1%") No
                  th Nama
                  th NPP
                  th Area
                  th Tanggal Pencatatan
                  th Tanggal Selesai
                  th Action
              tbody

block script
  script.
    $(document).ready(function() {
      getData()
    })

    function getData() {
      get({
        url: '/warehouse/stock-opname/datalist',
        isLoading: true
        }, function(response) {
          console.log(response)
          loading(false)
          var no = 1;
          var table = $('.table').find('tbody')
          var content = ''

          $.each(response.data, (index, data) => {
          content += '<tr>\
            <td align="center">'+(no++)+'</td>\
            <td>'+(data.nama_karyawan)+'</td>\
            <td>'+(data.npp)+'</td>\
            <td>'+(data.nama_area)+'</td>\
            <td>'+(new Date(data.tanggal_pencatatan).toISOString().slice(0, 10))+'</td>\
            <td>'+(new Date(data.tanggal_selesai).toISOString().slice(0, 10))+'</td>\
            <td align="center"><a href="javascript:void(0)" onclick="detail('+data.id_opname+')" class="btn btn-sm btn-info" title="Detail"><i class="fas fa-eye"></i></a></td>\
            </tr>'
          })

          table.html(content)
          setDatatable('.datatable')
      })
    }

    function detail(id) {
      document.location = '/warehouse/stock-opname/detail/' + id
    }