extends ../../layout

block content
  .content-wrapper
    //- Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Tambah Data
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='#') Data Departemen
              li.breadcrumb-item.active Tambah
      //- /.container-fluid
      //- Main content
      section.content
        //- Default box
        .card
          .card-header
            h3.card-title Tambah
          .card-body
            .form-group
              label Nama Departemen
              input.form-control#nama_departemen(type="text" autocomplete="off")
            .form-group
              button.btn.btn-sm.btn-default.mr-2(onclick="return window.history.go(-1)") Kembali
              button.btn.btn-sm.btn-primary(onclick="simpan()") Simpan

block script
  script.
    function simpan() {
      var nama_departemen = $('#nama_departemen').val()
      var body = {
        nama_departemen: nama_departemen,
      }

      if(isEmpty(nama_departemen)) {
        alert('Data belum lengkap')
        return
      }

      post({
        url: '/admin/departemen/simpan',
        data: body,
        isLoading: true
      }, function(response) {
        console.log(response)
        loading(false)
        alert(response.message)

        if(response.status) {
          document.location = '/admin/departemen'
        }
      })
    }